@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
	--container-width: 1270px;
	--container-padding: 15px;
	--secondary: rgba(15, 31, 28, 0.5);
	--orange: #ff7c4e;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #f6f6f6;
	color: #0f1f1c;
}

.none {
	display: none !important;
}


/* Destinations */

.destinations {
	overflow-x: hidden;
	padding: 96px 0 100px;
}

.destinations__row {
	display: flex;
	column-gap: 50px;
}

.destinations__content {
	max-width: 456px;
}

.destinations__slider {
	width: 1110px;
	flex-shrink: 0;
}

.destinations__title {
	margin-bottom: 15px;
	font-size: 55px;
	font-weight: 600;
}

.destinations__title span {
	font-size: 30px;
}

.destinations__text {
	margin-bottom: 60px;
	font-size: 25px;
	font-weight: 500;
	color: var(--secondary);
}

/* Slider */

.owl-item {
	display: flex;
	justify-content: center;
}

.slider {
	position: relative;
	height: 456px;
}

.slider__item {
	margin-top: 27px;

	width: 335px;
	height: 402px;
	object-fit: cover;
	border-radius: 35px;

	transition: 0.2s ease-in;
}

.slider .center .slider__item {
	margin-top: 0;
	width: 380px;
	height: 456px;
}

.slider__btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 9;

	display: block;
	width: 68px;
	height: 68px;
	border-radius: 50%;

	display: flex;
	align-items: center;

	background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #8b8b8b;
}

.slider__btn--prev {
	left: -27px;
	padding-left: 26px;
	justify-content: flex-start;
}

.slider__btn--next {
	right: -27px;
	padding-right: 26px;
	justify-content: flex-end;
}


/* Buttons */

.btn {
	display: inline-block;
	padding: 25px 45px;
	color: #fff !important;

	background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
	border-radius: 27px;

	font-size: 20px;
	font-weight: 600;
}

.btn:hover {
	color: rgb(245, 233, 127) !important;
	transition: color 0.2s ease-in;
}

.btn:active {
	position: relative;
	top: 1px;
}

.btn--login {
	padding: 13px 44px;
	font-size: 15px;
	font-weight: 500;
	border-radius: 100px;
}

.btn--header {
	padding: 27px 48px;
	font-size: 25px;
}

.btn--subscribe {
	padding: 36px 86px;
	font-size: 25px;
	border-radius: 35px;
}




@media (max-width: 1200px) {
	.destinations__slider {
		width: 900px;
	}
}

@media (max-width: 1090px) {
	

	.destinations__slider {
		width: 600px;
	}

	.slider {
		height: 304px;
	}

	.slider .slider__item {
		margin-top: 18px;
		width: 223px;
		height: 268px;
	}

	.slider .center .slider__item {
		margin-top: 0;
		width: 253px;
		height: 304px;
	}
}

@media (max-width: 850px) {
	.container-right {
		padding-right: 15px;
	}

	
	.destinations {
		padding: 40px 0 50px;
	}

	.destinations__row {
		flex-direction: column;
		row-gap: 30px;
	}

	.destinations__slider {
		width: 100%;
	}

	.slider__btn--prev {
		left: 2px;
	}
	.slider__btn--next {
		right: 2px;
	}

	.destinations__title {
		margin-bottom: 10px;
		font-size: 35px;
	}

	.destinations__title span {
		font-size: 20px;
		display: block;
	}

	.destinations__text {
		margin-bottom: 30px;
		font-size: 20px;
	}

	.btn {
		padding: 20px 35px;
		border-radius: 20px;
		font-size: 18px;
	}

	.btn--login {
		padding: 13px 44px;
		font-size: 15px;
		font-weight: 500;
		border-radius: 100px;
	}

	
}

@media (max-width: 640px) {
	.customers__row {
		flex-direction: column-reverse;
		row-gap: 30px;
	}
}

@media (max-width: 600px) {
	.nav--footer {
		flex-direction: column-reverse;
		row-gap: 30px;
	}
}

